CLICKHOUSE_HOST=172.30.63.35
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=data-processor
CLICKHOUSE_PASSWORD=change_me
CLICKHOUSE_DATABASE=data_warehouse
CMC_API_KEY=your_cmc_api_key_here
SYMBOLS=BTC,ETH,SOL,DOGE,SHIB,PEPE,BABYDOGE,BBL,ADA,MATIC,AVAX,DOT,LINK,UNI,LTC


